<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	<bean id="beanTemplate" abstract="true">
		<property name="message1" value="Rahul A Goti1" />
		<property name="message2" value="Rahul A Goti2" />
		<property name="message3" value="N N Goti" />
	</bean>

	<bean parent="beanTemplate" id="helloIndia" class="com.secure.rahul.HelloIndia">
		<property name="message1" value="A N Goti" />
		<property name="message3" value="N N Goti" />
	</bean>

</beans>